@page
@model Proiect_Colocviu_Pop_Andrei_Lucian_gr4_FB.Pages.Checkout.CheckoutModel
@{
}

<h1>Comanda dumneavoastră</h1>

<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        
        <p>Comanda ta este în curs de livrare !</p>
        <p>Prețul total pentru comanda dvs. este: @Model.PretGhete$</p>
        </br>
        <a class="btn btn-primary mt-1 mx-auto " asp-area="" asp-page="Multumim">Confirmă comanda</a>
    </div>
</div>