@page
@model Proiect_Colocviu_Pop_Andrei_Lucian_gr4_FB.Pages.Checkout.MultumimModel
@{
}
<h1>Mulțumim pentru alegere,comanda ta va ajunge în cel mai scurt timp</h1>
</br>
<img class="mainImage" src="~/images/balon.jpg" />
