@page
@model Proiect_Colocviu_Pop_Andrei_Lucian_gr4_FB.Pages.GheteModels
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">
            Ghetele noastre de fotbal! </h1>
        <h4>Alege dintre o gamă variată</h4>
    <h5>Membrii Sport Trend beneficiază de livrare gratuită pentru fiecare comandă.</h5>
        <p class="smallText"><i>Ghete de fotbal pentru bărbați: construite pentru performanță</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwn">
                    <div class="col-4">
                        <img src="~/images/personalizeaza.png" class="w-100"/>
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Personalizează ghetele</h3>
                            <a class="btn-primary" style="float: left" asp-area="" asp-page="Forms/Custom">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>