@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Bine ați venit la Sport Trend! </h1>
        <h2>Ghete de fotbal de inaltă calitate!</h2>
    </div>
    
    <img class="mainImage" src="~/images/TheLastGame.jpg" />
<br/>
    <a class="btn mt-1 text-black">THERE'S NOT GREATER DANGER THAN PLAYING IT SAFE</a>
</div>
